<config>
    <configuration>
        <vlans>
            <vlan>
                <name>{{ vlan_name }}</name>
                <vlan-id>{{ vlan_id }}</vlan-id>
            </vlan>
        </vlans>
    </configuration>
</config>
