<config>
    <configuration>
        <interfaces>
            <interface>
                <name>{{ port }}</name>
                <unit delete="delete">
                    <name>0</name>
                </unit>
            </interface>
        </interfaces>
    </configuration>
</config>
