<config>
    <configuration>
        <interfaces>
            <interface>
                <name>{{ vlan_name }}</name>
                <unit>
                    <name>0</name>
                    <description>{{ port_description }}</description>
                    <family>
                        <ethernet-switching>
                            <interface-mode>access</interface-mode>
                            <vlan>
                                <members>{{ vlan_id }}</members>
                            </vlan>
                        </ethernet-switching>
                    </family>
                </unit>
            </interface>
        </interfaces>
    </configuration>
</config>
