---
- name: "junos: run create vlan using network_cli"
  junos_command:
    commands:
      - config
      - "set vlans {{ ml2_segmentation_name }} vlan-id {{ ml2_segmentation_id }}"
      - commit
  register: result
  retries: {{ _retries }}
  delay: {{ _delay }}
  until: result.msg is not defined or result.msg.find(junos_retries_msg) == -1
  connection: network_cli
