---
- name: "junos: run delete vlan using network_cli"
  junos_command:
    commands:
      - config
      - "delete vlans {{ ml2_segmentation_name }}"
      - commit
  register: result
  retries: {{ _retries }}
  delay: {{ _delay }}
  until: result.msg is not defined or result.msg.find(junos_retries_msg) == -1
  connection: network_cli
