---
- name: "junos: run delete_port using network_cli"
  junos_command:
    commands:
      - config
      - "delete interfaces {{ ml2_port_name }}"
      - commit
  register: result
  retries: {{ _retries }}
  delay: {{ _delay }}
  until: result.msg is not defined or result.msg.find(junos_retries_msg) == -1
  connection: network_cli
