---
- name: "junos: check netconf service"
  block:
    - name: "junos: enable netconf if not already enabled"
      junos_netconf:
        state: present

    - name: "junos: close network_cli connection as its no longer needed"
      meta: reset_connection

  connection: network_cli
  # This will affect us in Ansible 2.5.6+
  # Ansible bug from this pull
  # https://github.com/ansible/ansible/pull/41655/files
  # submitted bug report
  # https://github.com/ansible/ansible/issues/46275
  # commenting this conditional so we don't stacktrace
  # when: ml2_settings_junos_enable_netconf

- name: "junos: set netconf template"
  set_fact:
    ml2_junos_netconf_template: "templates/junos/{{ ml2_resource }}.xml.j2"

- name: "junos: send configuration to device"
  netconf_config:
    xml: "{{ lookup('template', ml2_junos_netconf_template) }}"
  connection: netconf
  register: result
  retries: 5
  delay: 1
  until: result.msg is not defined or result.msg.find('configuration database locked by:') == -1
