---
- name: "junos: run update access port using network_cli"
  junos_command:
    commands:
      - config
      - "delete interfaces {{ ml2_port_name }}"
      - "set interfaces {{ ml2_port_name }} unit 0 family ethernet-switching interface-mode access"
      - "set interfaces {{ ml2_port_name }} unit 0 family ethernet-switching vlan members {{ ml2_segmentation_id }}"
      - commit
  register: result
  retries: {{ _retries }}
  delay: {{ _delay }}
  until: result.msg is not defined or result.msg.find(junos_retries_msg) == -1
  connection: network_cli
