[ml2_ansible]
# currently no config options available
# in this general section for the driver


#########
#
# Inventory definitions
# THIS IS NOT AN ANSIBLE INVENTORY FILE!
# These sections DO NOT adhere to ansible inventory structure
# *** Please read carefully ***
#
# - Each section represents a host.
# - the 'ansible:' tag will be stripped out and the rest of the section name
#   is the name of the host.
# - The variables in each section will be passed directly to the inventory file
#   ansible will use. The variables you can use here are defined by ansible.
#   If you uses an ansible host variable that is not represented here but
#   is supported by the installed version of ansible then the variable should
#   work as defined by ansible
#
#   * manage_vlans :: Default: True
#     Defines whether to create and delete vlans on the switch.
#
#########

[ansible:vyos118_rack_A]
ansible_network_os=vyos
ansible_host=1.2.3.4
ansible_user=ansible
ansible_ssh_pass=password

[ansible:openswitch230_rack_23]
ansible_network_os=openswitch
ansible_host=5.6.7.8
ansible_user=ansible
ansible_ssh_pass=password
manage_vlans=False
